.nav-bar {
    height: 12vh;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 9999;
    border-bottom: 1.5px solid #fff;
    background: linear-gradient(9deg, #ffffff 50%, red 100%);
}

.nav-bar {
    height: 12vh;
    overflow: hidden;
}

.nav-bar .nav-icon {
    padding-top: 4px;
    width: 20%;
    transition: all .5s ease-in-out;
}

.top-header-menu {
    display: none;
    font-size: 34px;
}

.navbar-close-icon {
    display: none;
    font-size: 34px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.navbar .navbar-link {
    color: #000000;
    font-size: 18px;
    margin-right: 20px;
    letter-spacing: 2px;
}

.navbar .navbar-link:hover {
    color: rgb(223, 15, 15);
}

.navbar-close-icon {
    display: none;
    font-size: 32px;
    color: #e74c3c;
    padding: 20px 0px 0px 20px;
    width: 100%;
}

.navbar-close-icon i {
    cursor: pointer;
    color: var(--light-red-color);
}

.top-header-menu {
    font-size: 34px;
    cursor: pointer;
    display: none;
    color: rgb(223, 15, 15);
}

.nav-bar .social-media {
    text-align: center;
    padding: 0px 0px 24px;
    margin-top: 24px;
}

.nav-bar .social-media i {
    font-size: 20px;
    border: 1px solid #0077b6;
    border-radius: 50%;
    color: #0077b6;
    width: 46px;
    height: 46px;
    line-height: 46px;
    margin-right: 6px;
    transition: all .5s ease-in-out;
}

.nav-bar .social-media i:hover {
    transform: rotate(360deg);
    background: #0077b6;
    color: #ffffff;
}

.d-none {
    display: none;
}

@media (max-width: 1180px) {
    .nav-bar {
        background: #ffffff;
    }

    .top-header-menu {
        display: block;
    }

    .navbar-close-icon {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: -320px;
        background-color: var(--primary-color);
        width: 320px;
        height: 100vh;
        padding: 0;
        z-index: 99;
        transition: all .5s ease;
        background: #000000bc;
    }

    .navbar .navbar-link {
        margin:auto;
        padding-left: 60px;
        color: #ffffff;
        width: fit-content;
    }

    .navbar-links {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        height: 80vh;
        justify-content: space-around;
    }

    .nav-bar .nav-icon {
        width: 28%;
    }

    .d-none {
        display: block;
    }
}

@media (max-width: 1100px) {
    .navbar-link {
        margin-right: 17px;
    }
}

@media (max-width: 520px) {
    .navbar {
        width: 100%;
        right: -100%;
    }

    .nav-bar .nav-icon {
        width: 38%;
    }
}

@media (max-width: 420px) {
    .nav-bar .nav-icon {
        width: 30%;
    }

    .nav-bar .social-media i {
        font-size: 18px;
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    .navbar .navbar-link {
        margin: 9px auto;
    }

    .navbar-close-icon {
        padding: 16px 0px 0px 20px;
    }
}